CompileFlags:
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
    - -Wpedantic
  Remove:
    - -W*
Diagnostics:
  ClangTidy:
    Add:
      - modernize-*
      - performance-*
      - readability-*
    Remove:
      - modernize-use-trailing-return-type
  UnusedIncludes: Strict
Index:
  Background: Build
Hover:
  ShowAKA: Yes
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  TypeHints: Yes
  Designators: Yes
Completion:
  AllScopes: Yes
